# **Data Processing**

### **Methods**
1. *Manual*  no machine involved (i.e dry run)
2. *Electronic*  by code (i.e Crawlers)
3. *Mechanical*  hardware involved
---
---
### **Types Of Data Processing**
1. *Single User Processing*  Personal Computers, Gaming Consoles
2. *Multiple User Processing*  Servers, ERP Systems, Shared Database Systems
3. *Batch Processing*  Processing Larger Amount of Data (Banking Systems)
4. *Realtime Processing*  Response according to Current Env/Situatoin (Stock, Binance)/ Immediate Input Required
5. *Online Processing*   Processing Data Online
6. *Time-Sharing Processing*  *Multiple People* can share *Multiple Inputs* on *Multiple Times* - **Centralized Server**
7. Distributed Processing  Multiple Servers can be accessed by Multiple Users
---
---
**Data Extraction**  extracting data from different sorces and collecting them

**Data Warehousing**  combine data from different sources by a proccess ETL (**E**xtracion **T**ransformation **L**oading)
1. Extraction  data extracted from one or more sources
2. Transfoemation  Cleaning Anomlies
3. Loading  Uploading in your Machine and Applying a ML Algo
---
---
### **Types of Data Extraction**
1. *Customer data* ➡ Data About Customers, Buying History, Intrests
2. *Financial Data* ➡ Business Management, Profit/Loss, Strategy
3. *User Task Data/ Process Performance Data* ➡ Data After Applying Process/Task
---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Data Example</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>
    <tr>
        <td>John</td>
        <td>-</td>
        <td>Null</td>
    </tr>
    <tr>
        <td>Null</td>
        <td>25</td>
        <td>Los Angeles</td>
    </tr>
    <tr>
        <td>Mike</td>
        <td>35</td>
        <td></td>
    </tr>
</table>

</body>
</html>

1. *Remove* -> Incomplete Data
2. *Interpolate* -> Statistic Techniques (Mean, Median, Mode)

*For Categorical  Values*:
1. Replace with Value Above It
2. Replace with Value Below It.
---
---
### **Removing Duplicates**
If getting data from multiple resources.
Row Duplicates

*If any one column value is different than do not remove.*

---
---
### **Outliers**
Values that are very far from **Normal Range** of Data. (Extreme Values)

1. *Normalization* --> All Values divided by Max
2. *Scaling*

### *Categorical Data (Encoding)*
encoding -> in numerical values

**One-Hot Encoding**

---
---

# **Lab 4**

In [5]:
l1 = []
for i in range(1, 11):
    if(i%2 != 0):
      l1.append(i**2)
l1

[1, 9, 25, 49, 81]

In [6]:
odd_sq = [x**2 for x in range (1, 11) if x%2 != 0]
odd_sq

[1, 9, 25, 49, 81]

## **Dictionary {...}**

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<table>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>A</td>
        <td>a</td>
    </tr>
    <tr>
        <td>B</td>
        <td>b</td>
    </tr>
    <tr>
        <td>C</td>
        <td>c</td>
    </tr>
</table>

</body>
</html>

1. Key -> Unique
2. Value -> Multiple Values(String, Number, Tuple, List)

In [10]:
dict1 = {
    'Name': ['a', 'b', 'c', 'd'],
    1: 'Geeks'
}
dict1

{'Name': ['a', 'b', 'c', 'd'], 1: 'Geeks'}

In [11]:
d2 = {}
d2

{}

In [13]:
t1 = list(dict1)
t1

['Name', 1]

In [15]:
t2 = [1, 2, 3, 4, 5]
d2 = dict.fromkeys(t2)
d2

{1: None, 2: None, 3: None, 4: None, 5: None}

In [22]:
d3 =dict([(1, 'Geeks'), (2, 'for'), (3, 'Geeks')])
d3[2]

'for'

In [23]:
d4 =dict([(1, [1,2,3,4]), (2, ['Geeks', 'for', 'Geeks']), (3, 'Geeks')])
d4[1]

[1, 2, 3, 4]

In [35]:
# Dictionary Within a Dictionary
d5 = {
    1: {
        'Apple': ['Green', 'Red', 'White'],
        'Banana': ['Bangali', 'Sindhi', 'Dhaka']},
    2: {
        'Mango': ['Yellow', 'Green', 'Red'],
        'Orange': ['Orange;', 'Yellow', 'Red']
      }
    }
d5[1]['Apple']

['Green', 'Red', 'White']

In [25]:
!pip install prettyprint

Collecting prettyprint
  Downloading prettyprint-0.1.5.tar.gz (2.1 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: prettyprint
  Building wheel for prettyprint (setup.py) ... done
  Created wheel for prettyprint: filename=prettyprint-0.1.5-py3-none-any.whl size=3027 sha256=fb882417db18afed8f71c3afb1323f90df70f442a655d118f11a9c0afee6159e
  Stored in directory: /root/.cache/pip/wheels/b2/d0/51/477413885481c635ab7c6400f96f47b8a0971bbc1241ff9c9f
Successfully built prettyprint
Installing collected packages: prettyprint
Successfully installed prettyprint-0.1.5

In [36]:
import pprint
pprint.pprint(d5)

{1: {'Apple': ['Green', 'Red', 'White'],
     'Banana': ['Bangali', 'Sindhi', 'Dhaka']},
 2: {'Mango': ['Yellow', 'Green', 'Red'],
     'Orange': ['Orange;', 'Yellow', 'Red']}}

In [37]:
d6 = {}
d6

{}

In [47]:
d6['Ali'] = [100, 100 , 100]
d6['Sara'] = [50, 50, 49]
d6['Zeeshan'] = [0, 1, 2]
d6['Aaina'] = (8, 9, 10)
pprint.pprint(d6)

{'Aaina': (8, 9, 10),
 'Ali': [100, 100, 100],
 'Sara': [50, 50, 49],
 'Zeeshan': [0, 1, 2]}

In [45]:
d6['Ali'].append(99)
d6

{'Ali': [100, 100, 100, 99],
 'Sara': [50, 50, 49],
 'Zeeshan': [0, 1, 2],
 'Aaina': (8, 9, 10)}

In [46]:
# Tuple
d6['Aaina'].append(12)
d6

AttributeError: 'tuple' object has no attribute 'append'

In [49]:
d6['Laraib'] = ''
d6

{'Ali': [100, 100, 100],
 'Sara': [50, 50, 49],
 'Zeeshan': [0, 1, 2],
 'Aaina': (8, 9, 10),
 'Laraib': ''}

In [51]:
d6['Ali'][1] = 5
d6

{'Ali': [100, 5, 100],
 'Sara': [50, 50, 49],
 'Zeeshan': [0, 1, 2],
 'Aaina': (8, 9, 10),
 'Laraib': ''}

In [52]:
d6.keys()

dict_keys(['Ali', 'Sara', 'Zeeshan', 'Aaina', 'Laraib'])

In [53]:
d6.values()

dict_values([[100, 5, 100], [50, 50, 49], [0, 1, 2], (8, 9, 10), ''])

In [60]:
t1 = {
    'A' : [1, 2, 3, 4, 5],
    'B' : (6, 7, 8, 9, 10),
    'C' : {
        'Zeeshan' : 'Aftab',
        'Hamdan' : 'Sethi',
        'Laraib' : {
            'Afridi' : 2,
            'Khan' : 1,
            'Yousafzai' : 0,
            'Achakzai' : 4,
            'Pukhtoon' : 5,
            'Pathan' : 6
        }
      },
    'D' : 'Hello World',
    'E' : 999
}
pprint.pprint(t1)

{'A': [1, 2, 3, 4, 5],
 'B': (6, 7, 8, 9, 10),
 'C': {'Hamdan': 'Sethi',
       'Laraib': {'Achakzai': 4,
                  'Afridi': 2,
                  'Khan': 1,
                  'Pathan': 6,
                  'Pukhtoon': 5,
                  'Yousafzai': 0},
       'Zeeshan': 'Aftab'},
 'D': 'Hello World',
 'E': 999}

In [80]:
print(t1)

{'A': [1, 2, 3, 4, 5], 'B': (6, 7, 8, 9, 10), 'C': {'Zeeshan': 'Aftab', 'Hamdan': 'Sethi', 'Laraib': {'Afridi': 2, 'Khan': 1, 'Achakzai': 4, 'Pukhtoon': 5, 'Pathan': 6}}, 'E': 999}

In [61]:
t1['C']['Laraib']['Yousafzai']

0

In [66]:
_get = t1.get('C').get('Laraib').get('Yousafzai')
_get

0

In [69]:
del t1['C']['Laraib']['Yousafzai']
t1

{'A': [1, 2, 3, 4, 5],
 'B': (6, 7, 8, 9, 10),
 'C': {'Zeeshan': 'Aftab',
  'Hamdan': 'Sethi',
  'Laraib': {'Afridi': 2,
   'Khan': 1,
   'Achakzai': 4,
   'Pukhtoon': 5,
   'Pathan': 6}},
 'D': 'Hello World',
 'E': 999}

In [70]:
del t1['D']
t1

{'A': [1, 2, 3, 4, 5],
 'B': (6, 7, 8, 9, 10),
 'C': {'Zeeshan': 'Aftab',
  'Hamdan': 'Sethi',
  'Laraib': {'Afridi': 2,
   'Khan': 1,
   'Achakzai': 4,
   'Pukhtoon': 5,
   'Pathan': 6}},
 'E': 999}

**PhoneBook**

In [71]:
phonebook = {
    ('Hamdan', 'Sethi'): 1234567890,
    ('Zeeshan', 'Aftab'): 2345678901,
    ('Laraib', 'Afridi'): 3456789012,
    ('Aaina', 'Batool'): 4567890123,
    ('Ali', 'Khan'): 5678901234
}
pprint.pprint(phonebook)

{('Aaina', 'Batool'): 4567890123,
 ('Ali', 'Khan'): 5678901234,
 ('Hamdan', 'Sethi'): 1234567890,
 ('Laraib', 'Afridi'): 3456789012,
 ('Zeeshan', 'Aftab'): 2345678901}

In [76]:
user_input = input('Enter Name: ')
lname = user_input.split(' ')
lname

Enter Name: Hamdan Sethi

['Hamdan', 'Sethi']

In [86]:
if tuple(lname) in phonebook:
  print(phonebook[tuple(lname)])
else:
  print('Not Found')

1234567890

In [88]:
A = input('Enter First Name : ')
B = input('Enter Last Name : ')
print(phonebook[(A, B)])

Enter First Name : Aaina
Enter Last Name : Sethi

KeyError: ('Aaina', 'Sethi')